# Scrapy settings for baoyan_crawler project
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = baoyan_crawler.settings

[deploy]
project = baoyan_crawler
